extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)
  
  .container.my-5
      .row.justify-content-center
          .col-8
              h1(class="text-center") Thay đổi mật khẩu
              form(action="/user/password/reset", method="POST")
                  .form-group
                      label(for="password") Mật khẩu mới
                      input(
                          type="password",
                          class="form-control",
                          id="password",
                          name="password",
                          required
                      )
                  .form-group
                      label(for="confirmPassword") Mật khẩu
                      input(
                          type="password",
                          class="form-control",
                          id="confirmPassword",
                          name="confirmPassword",
                          required
                      )
                  button(type="submit", class="btn btn-primary btn-block mt-3") Đổi mật khẩu
