doctype html
html
  head
    title= title
    link(rel="stylesheet" , href="/css/style.css")
    link(rel="stylesheet" , href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
  body
    //- img(src="image/download.jpeg")
    //- h1= message
    //- h1 Nội dung thẻ h1
    //- h2 Nội dung thẻ h2 
    //- h3 Nội dung thẻ h3

    //- ol(type="A")
    //-   li Item 1
    //-   li Item 2
    //-   li Item 3



    //- button(class="btn btn-success") Click me!



    //- table
    //-   thead 
    //-     tr 
    //-       th số thứ tự
    //-       th họ tên
    //-       th số điện thoại

    //-   tbody 
    //-     tr
    //-       td 1
    //-       td Lê Văn A
    //-       sdt 0123
    //-     tr 
    //-       td 2
    //-       td Lê Văn B
    //-       td 0243


    //- p Nội dung thẻ <b> p!</b>
    //- p 
    //-   |Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    //-   |Vitae ex placeat, accusantium inventore aliquam ipsum sunt, amet nisi expedita ea labore aut ratione omnis suscipit dolore explicabo illo quam provident.
    //- p.
    //-   Lorem ipsum, dolor sit amet consectetur adipisicin
    //-   g elit. Repellat distinctio consectetur sint neque nobis repreh
    //-   enderit ducimus nulla impedit fugiat atque, odio rem error, incidunt reiciendis deserunt consequatur! Nam, fugiat doloremque?
    
    //- button.btn.btn-success Clickme
    //- button(class="btn btn-success" id="success") Click me

    //- -var name="Trần Minh Huy"
    //- -var age=18
    //- -var sdt=0559960960
    //- div(class="info")
    //-   p=name
    //-   p=age 
    //-   p=sdt

    //- div.info
    //-   p #{name}
    //-   p #{age}
    //-   p #{sdt}



    //- -var html="<a href='https://prettier.io/docs/en/install'> Daca.vn f</a>"
    //- div.click
    //-   p !{html}


    //- -
    //-   var infouser={
    //-     fullname:"Trần Minh Huy",
    //-     email:"113113113huy@gmail.com",

    //-   }
    //- p Họ tên #{infouser.fullname}
    //- p Email #{infouser.email}  
    //- if(infouser.sdt)
    //-   p #{infouser.sdt} 
    //- else 
    //-   p Chưa có sdt
    //- p #{infouser.sdt ? infouser.name : "Chưa có sdt"}
      


    
    //-  statusaccount:"initial", "active", "inactive"
    //- - var statusaccount= "";
    //- case statusaccount
    //-   when "initial"
    //-     p Chờ duyệt
    //-   when "active"
    //-     p Đang hoạt động
    //-   when "inactive"
    //-     p Đang bị khoá
    //-   default
    //-     p Không có


    //- -
    //-   var listUser=[
    //-     "LE Van A",
    //-     "Le Van B",
    //-     "Le Van C",
    //-   ]
    //- ul 
    //-   each item,index  in listUser
    //-     li #{index}. #{item}


    ul 
      -for(let i=0; i<10 ; i++)
        li #{i}



    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
    script(src="/js/script.js")