extends ../../layouts/default.pug 

block main  
  .container.my-3 
    .row 
      .col-12 
        if(product.title) 
         h1(class="mb-4") #{product.title}
  
        if(product.price) 
          p(class="mb-4") Giá: <b>#{product.price}$ </b>

        if(product.discountPercentage) 
          p(class="mb-4") Giảm Giá: <b>#{product.discountPercentage}$ </b>

        if(product.stock) 
          p(class="mb-4") Giảm Giá: <b>#{product.stock} </b>

        if(product.thumbnail)
          div(class="mb-4")
            img(
              src=product.thumbnail
              style="width: 100px"
            )

        if(product.status)
          div(class="mb-4")
            span Trạng thái
            if(product.status ==="active")
              span(class="badge badge-success") Hoạt động
            if(product.status ==="inactive")
              span(class="badge badge-danger") Ngưng Hoạt động
        
        if(product.position)
          div(class="mb-4") Vị trí: <b>#{product.position}</b>

        if(product.description)
          div(class="mb-4") Mô tả: <b>#{product.description}</b>
